.home-carousel img {
  height: 520px;
  object-fit: cover;
}

/* Arrow icons visible & clean */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 45px;
  height: 45px;
  background-size: 100%;
}

/* Indicators (dots) */
.carousel-indicators [data-bs-target] {
  background-color: #f4b400;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-image-wrapper {
  position: relative;
}

.carousel-know-more {
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  background: #3d63aa;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carousel-know-more:hover {
  background: #89c54b;
  color: #000000;
}

/* Mobile */
@media (max-width: 768px) {
  .carousel-know-more {
    bottom: 10%;
    padding: 10px 22px;
    font-size: 14px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}
